---
import { Icon } from '@astrojs/starlight/components';
interface contentRow {
    topic: string,
    reading: string,
    reading_url: string,
    assignment: string,
    assignment_url: string,
    presentation_url: string,
    dates: classSession[]
};
interface classSession {
    date: Date,
    topic: string,
    assignment: string
};
const {content} = Astro.props;
import DayOfWeek from './DayOfWeek.astro';
import LabMarker from './LabMarker.astro';
---
<div class = "table-container">
    <table width='100%'>
        <thead>
            <tr>
                <td>Date</td>
                <td>Topic</td>
                <td>Assignment Due</td>
            </tr>
        </thead>
        <tbody>
        {content.map((entry:contentRow) => (
            <tr>
                <td colspan = 1><Icon name = "sun" /></td>
                <td colspan = 2>
                    {entry.topic}
                </td>
            </tr>
            <tr>
                <td colspan = 1><Icon name = "open-book" /></td>
                <td colspan = 2>
                    <a href = {entry.reading_url} target = "_blank">{entry.reading}</a>
                </td>
            </tr>
            <tr>
                <td colspan = 1><Icon name = "approve-check" /></td>
                <td colspan = 2>
                    <a href = {entry.assignment_url} target = "_blank">{entry.assignment}</a>
                </td>
            </tr>
            <tr>
                <td colspan = 1><Icon name = "seti:notebook" /></td>
                <td colspan = 2>
                    <a href = {entry.presentation_url}>Slides</a>
                </td>
            </tr>
            <tr>
            {entry.dates.map((session:classSession) => (
                <tr>
                    <td><DayOfWeek date = {session.date}/></td>
                    <td><LabMarker status = {session.lab}/>{session.topic}</td>
                    <td>{session.assignment}</td>
                </tr>
            ))}
            </tr>
        ))}
        </tbody>
    </table>
</div>